
@model List<ResultGuestDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Şehir</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.GuestID</td>
            <td>@item.Name</td>
            <td>@item.Surname</td>
            <td>@item.City</td> 
        </tr>
    }

</table>
<a href="/AdminGuest/AddGuest/" class="btn btn-info">Yeni Müşteri</a>

