.vs/
ApiConsume/HotelProject.BusinessLayer/bin
ApiConsume/HotelProject.BusinessLayer/obj
ApiConsume/HotelProject.DataAccessLayer/bin
ApiConsume/HotelProject.DataAccessLayer/obj

ApiConsume/HotelProject.DataAccessLayer/bin
ApiConsume/HotelProject.DataAccessLayer/obj

ApiConsume/HotelProject.DtoLayer/bin
ApiConsume/HotelProject.DtoLayer/obj

ApiConsume/HotelProject.EntityLayer/bin
ApiConsume/HotelProject.EntityLayer/obj

ApiConsume/HotelProjectWebApi/bin
ApiConsume/HotelProjectWebApi/obj

Frontend/HotelProject.WebUI/bin
Frontend/HotelProject.WebUI/obj

RapidApi/RapidApiConsume/obj
RapidApi/RapidApiConsume/bin

JwtProject/WebApiJwt/obj
JwtProject/WebApiJwt/bin