
<div class="row">
    
    <div class="col-lg-6 col-sm-6">
        <div class="card">
            <div class="social-graph-wrapper widget-linkedin">
                <span class="s-icon"><i class="fa fa-linkedin"></i></span>
            </div>
            <div class="row">
                <div class="col-12 border-right">
                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                        <h4 class="m-1">@ViewBag.LinkedlnFollowersCount</h4>
                        <p class="m-0">Bağlantı</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6">
        <div class="card">
            <div class="social-graph-wrapper widget-googleplus">
                <span class="s-icon"><i class="fa fa-instagram"></i></span>
            </div>
            <div class="row">
                <div class="col-12 border-right">
                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                        <h4 class="m-1">@ViewBag.InstagramFollowersCount</h4>
                        <p class="m-0">Takipçi</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
   
</div>