@model CreateWorkLocationDto
@{
    ViewData["Title"] = "AddLocation";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">

    <label>Lokasyon Adı</label>
    <input type="text" asp-for="WorkLocationName" class="form-control" />
    <span asp-validation-for="WorkLocationName" class="text-danger"></span>
    <br />
    <label>Lokasyon Şehir</label>
    <input type="text" asp-for="WorkLocationCity" class="form-control" />
    <span asp-validation-for="WorkLocationCity" class="text-danger"></span>
    <br />
   

    <button class="btn btn-primary" type="submit">Lokasyon Ekle</button>
</form>

